STACK_VERSION=0.1.1
INSTALL_DIR=/opt/supabase
SUPABASE_DB_IMAGE=supabase/postgres:15.8.1.048
SUPABASE_REST_IMAGE=postgrest/postgrest:v12.2.12
SUPABASE_AUTH_IMAGE=supabase/gotrue:v2.174.0
SUPABASE_META_IMAGE=supabase/postgres-meta:v0.89.3
SUPABASE_KONG_IMAGE=kong:2.8.1
SUPABASE_STUDIO_IMAGE=supabase/studio:2026.01.07-sha-037e5f9
STUDIO_CLI_VERSION=2.67.1
POSTGRES_HOSTNAME=supabase-db
POSTGRES_HOST=supabase-db
POSTGRES_PORT=5432
DB_PUBLIC_PORT=6543
POSTGRES_DB=postgres
SERVICE_PASSWORD_POSTGRES=
SERVICE_PASSWORD_JWT=
JWT_EXPIRY=3600
KONG_HTTP_PORT=8000
STUDIO_PORT=3000
EXTERNAL_MODE=ip
EXTERNAL_HOST=
SERVICE_URL_SUPABASEKONG=http://192.168.0.18:8000
SERVICE_URL_SUPABASEKONG_8000=http://192.168.0.18:8000
API_EXTERNAL_URL=http://192.168.0.18:8000
ADDITIONAL_REDIRECT_URLS=
SERVICE_USER_ADMIN=admin
SERVICE_PASSWORD_ADMIN=
SERVICE_SUPABASEANON_KEY=
SERVICE_SUPABASESERVICE_KEY=
DISABLE_SIGNUP=false
ENABLE_EMAIL_SIGNUP=true
ENABLE_ANONYMOUS_USERS=false
ENABLE_EMAIL_AUTOCONFIRM=false
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true
SMTP_ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=
MAILER_URLPATHS_INVITE=/auth/v1/verify
MAILER_URLPATHS_CONFIRMATION=/auth/v1/verify
MAILER_URLPATHS_RECOVERY=/auth/v1/verify
MAILER_URLPATHS_EMAIL_CHANGE=/auth/v1/verify
STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project
OPENAI_API_KEY=
PGRST_DB_SCHEMAS=public,storage,graphql_public
