services:
  supabase-db:
    image: '${SUPABASE_DB_IMAGE}'
    container_name: supabase_db
    ports:
      - '${DB_PUBLIC_PORT:-6543}:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -h 127.0.0.1']
      interval: 5s
      timeout: 5s
      retries: 10
    command:
      - postgres
      - '-c'
      - config_file=/etc/postgresql/postgresql.conf
      - '-c'
      - log_min_messages=fatal
    environment:
      POSTGRES_HOST: /var/run/postgresql
      PGPORT: '${POSTGRES_PORT:-5432}'
      POSTGRES_PORT: '${POSTGRES_PORT:-5432}'
      PGPASSWORD: '${SERVICE_PASSWORD_POSTGRES}'
      POSTGRES_PASSWORD: '${SERVICE_PASSWORD_POSTGRES}'
      PGDATABASE: '${POSTGRES_DB:-postgres}'
      POSTGRES_DB: '${POSTGRES_DB:-postgres}'
      JWT_SECRET: '${SERVICE_PASSWORD_JWT}'
      JWT_EXP: '${JWT_EXPIRY:-3600}'
    volumes:
      - '${INSTALL_DIR}/volumes/db/data:/var/lib/postgresql/data'
      - '${INSTALL_DIR}/volumes/db/custom:/etc/postgresql-custom'
      - type: bind
        source: ${INSTALL_DIR}/volumes/db/realtime.sql
        target: /docker-entrypoint-initdb.d/migrations/99-realtime.sql
      - type: bind
        source: ${INSTALL_DIR}/volumes/db/_supabase.sql
        target: /docker-entrypoint-initdb.d/migrations/97-_supabase.sql
      - type: bind
        source: ${INSTALL_DIR}/volumes/db/pooler.sql
        target: /docker-entrypoint-initdb.d/migrations/99-pooler.sql
      - type: bind
        source: ${INSTALL_DIR}/volumes/db/webhooks.sql
        target: /docker-entrypoint-initdb.d/init-scripts/98-webhooks.sql
      - type: bind
        source: ${INSTALL_DIR}/volumes/db/roles.sql
        target: /docker-entrypoint-initdb.d/init-scripts/99-roles.sql
      - type: bind
        source: ${INSTALL_DIR}/volumes/db/jwt.sql
        target: /docker-entrypoint-initdb.d/init-scripts/99-jwt.sql
      - type: bind
        source: ${INSTALL_DIR}/volumes/db/logs.sql
        target: /docker-entrypoint-initdb.d/migrations/99-logs.sql
    restart: unless-stopped

  supabase-rest:
    image: '${SUPABASE_REST_IMAGE}'
    container_name: supabase_rest
    depends_on:
      supabase-db:
        condition: service_healthy
    environment:
      PGRST_DB_URI: 'postgres://authenticator:${SERVICE_PASSWORD_POSTGRES}@${POSTGRES_HOSTNAME:-supabase-db}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-postgres}'
      PGRST_DB_SCHEMAS: '${PGRST_DB_SCHEMAS:-public,storage,graphql_public}'
      PGRST_DB_ANON_ROLE: anon
      PGRST_JWT_SECRET: '${SERVICE_PASSWORD_JWT}'
      PGRST_DB_USE_LEGACY_GUCS: 'false'
      PGRST_APP_SETTINGS_JWT_SECRET: '${SERVICE_PASSWORD_JWT}'
      PGRST_APP_SETTINGS_JWT_EXP: '${JWT_EXPIRY:-3600}'
    command: postgrest
    restart: unless-stopped

  supabase-auth:
    image: '${SUPABASE_AUTH_IMAGE}'
    container_name: supabase_auth
    depends_on:
      supabase-db:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://127.0.0.1:9999/health']
      timeout: 5s
      interval: 5s
      retries: 3
    environment:
      GOTRUE_API_HOST: 0.0.0.0
      GOTRUE_API_PORT: 9999
      API_EXTERNAL_URL: '${API_EXTERNAL_URL}'
      GOTRUE_DB_DRIVER: postgres
      GOTRUE_DB_DATABASE_URL: 'postgres://supabase_auth_admin:${SERVICE_PASSWORD_POSTGRES}@${POSTGRES_HOSTNAME:-supabase-db}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-postgres}'
      GOTRUE_SITE_URL: '${SERVICE_URL_SUPABASEKONG}'
      GOTRUE_URI_ALLOW_LIST: '${ADDITIONAL_REDIRECT_URLS}'
      GOTRUE_DISABLE_SIGNUP: '${DISABLE_SIGNUP:-false}'
      GOTRUE_JWT_ADMIN_ROLES: service_role
      GOTRUE_JWT_AUD: authenticated
      GOTRUE_JWT_DEFAULT_GROUP_NAME: authenticated
      GOTRUE_JWT_EXP: '${JWT_EXPIRY:-3600}'
      GOTRUE_JWT_SECRET: '${SERVICE_PASSWORD_JWT}'
      GOTRUE_EXTERNAL_EMAIL_ENABLED: '${ENABLE_EMAIL_SIGNUP:-true}'
      GOTRUE_EXTERNAL_ANONYMOUS_USERS_ENABLED: '${ENABLE_ANONYMOUS_USERS:-false}'
      GOTRUE_MAILER_AUTOCONFIRM: '${ENABLE_EMAIL_AUTOCONFIRM:-false}'
      GOTRUE_SMTP_ADMIN_EMAIL: '${SMTP_ADMIN_EMAIL}'
      GOTRUE_SMTP_HOST: '${SMTP_HOST}'
      GOTRUE_SMTP_PORT: '${SMTP_PORT:-587}'
      GOTRUE_SMTP_USER: '${SMTP_USER}'
      GOTRUE_SMTP_PASS: '${SMTP_PASS}'
      GOTRUE_SMTP_SENDER_NAME: '${SMTP_SENDER_NAME}'
      GOTRUE_MAILER_URLPATHS_INVITE: '${MAILER_URLPATHS_INVITE:-/auth/v1/verify}'
      GOTRUE_MAILER_URLPATHS_CONFIRMATION: '${MAILER_URLPATHS_CONFIRMATION:-/auth/v1/verify}'
      GOTRUE_MAILER_URLPATHS_RECOVERY: '${MAILER_URLPATHS_RECOVERY:-/auth/v1/verify}'
      GOTRUE_MAILER_URLPATHS_EMAIL_CHANGE: '${MAILER_URLPATHS_EMAIL_CHANGE:-/auth/v1/verify}'
      GOTRUE_EXTERNAL_PHONE_ENABLED: '${ENABLE_PHONE_SIGNUP:-true}'
      GOTRUE_SMS_AUTOCONFIRM: '${ENABLE_PHONE_AUTOCONFIRM:-true}'
    restart: unless-stopped

  supabase-meta:
    image: '${SUPABASE_META_IMAGE}'
    container_name: supabase_meta
    depends_on:
      supabase-db:
        condition: service_healthy
    environment:
      PG_META_PORT: 8080
      PG_META_DB_HOST: '${POSTGRES_HOSTNAME:-supabase-db}'
      PG_META_DB_PORT: '${POSTGRES_PORT:-5432}'
      PG_META_DB_NAME: '${POSTGRES_DB:-postgres}'
      PG_META_DB_USER: supabase_admin
      PG_META_DB_PASSWORD: '${SERVICE_PASSWORD_POSTGRES}'
    restart: unless-stopped

  supabase-kong:
    image: '${SUPABASE_KONG_IMAGE}'
    container_name: supabase_kong
    entrypoint: bash -c 'eval "echo "$$(cat ~/temp.yml)"" > ~/kong.yml && /docker-entrypoint.sh kong docker-start'
    depends_on:
      supabase-db:
        condition: service_healthy
      supabase-auth:
        condition: service_healthy
    ports:
      - '${KONG_HTTP_PORT:-8000}:8000'
    environment:
      SERVICE_URL_SUPABASEKONG_8000: '${SERVICE_URL_SUPABASEKONG_8000}'
      KONG_PORT_MAPS: '443:8000'
      JWT_SECRET: '${SERVICE_PASSWORD_JWT}'
      KONG_DATABASE: off
      KONG_DECLARATIVE_CONFIG: /home/kong/kong.yml
      KONG_DNS_ORDER: LAST,A,CNAME
      KONG_PLUGINS: request-transformer,cors,key-auth,acl,basic-auth
      KONG_NGINX_PROXY_PROXY_BUFFER_SIZE: 160k
      KONG_NGINX_PROXY_PROXY_BUFFERS: '64 160k'
      SUPABASE_ANON_KEY: '${SERVICE_SUPABASEANON_KEY}'
      SUPABASE_SERVICE_KEY: '${SERVICE_SUPABASESERVICE_KEY}'
      DASHBOARD_USERNAME: '${SERVICE_USER_ADMIN}'
      DASHBOARD_PASSWORD: '${SERVICE_PASSWORD_ADMIN}'
    volumes:
      - type: bind
        source: ${INSTALL_DIR}/volumes/api/kong.yml
        target: /home/kong/temp.yml
    restart: unless-stopped

  supabase-studio:
    image: '${SUPABASE_STUDIO_IMAGE}'
    container_name: supabase_studio
    healthcheck:
      test: ['CMD', 'node', '-e', "fetch('http://127.0.0.1:3000/api/platform/profile').then((r) => {if (r.status !== 200) throw new Error(r.status)})"]
      timeout: 5s
      interval: 5s
      retries: 3
    depends_on:
      supabase-db:
        condition: service_healthy
    ports:
      - '${STUDIO_PORT:-3000}:3000'
    environment:
      HOSTNAME: 0.0.0.0
      STUDIO_PG_META_URL: 'http://supabase-meta:8080'
      POSTGRES_PASSWORD: '${SERVICE_PASSWORD_POSTGRES}'
      POSTGRES_HOST: '${POSTGRES_HOST:-supabase-db}'
      CURRENT_CLI_VERSION: '${STUDIO_CLI_VERSION:-2.67.1}'
      DEFAULT_ORGANIZATION_NAME: '${STUDIO_DEFAULT_ORGANIZATION:-Default Organization}'
      DEFAULT_PROJECT_NAME: '${STUDIO_DEFAULT_PROJECT:-Default Project}'
      SUPABASE_URL: 'http://supabase-kong:8000'
      SUPABASE_PUBLIC_URL: '${SERVICE_URL_SUPABASEKONG}'
      SUPABASE_ANON_KEY: '${SERVICE_SUPABASEANON_KEY}'
      SUPABASE_SERVICE_KEY: '${SERVICE_SUPABASESERVICE_KEY}'
      AUTH_JWT_SECRET: '${SERVICE_PASSWORD_JWT}'
      NEXT_PUBLIC_ENABLE_LOGS: 'false'
      NEXT_ANALYTICS_BACKEND_PROVIDER: postgres
      OPENAI_API_KEY: '${OPENAI_API_KEY}'
    restart: unless-stopped

networks:
  default:
    name: supabase_net
